@media (max-width: 390px) {

    body {
        max-width: 390px;
        margin: 0;
    }

    header {
        display: none;
    }

    .planning {
        background: url('assets/img/garrett-parker_mobile\ 2.png');
        max-width: 390px;
        min-height: 251px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* margin-top: -45px; */
    }

    .preview-wrapper {
        display: flex;
        position: relative;
        padding-top: 45px;
        top: 0;
        left: 0;
        max-width: 360px;
    }

    .burger-logo {
        display: flex;
        padding-bottom: 57px;
        justify-content: space-between;
    }

    .burger-lines {
        width: 35px;
        height: 33px;
        cursor: pointer;
        transition: 0.3s;
        background-repeat: no-repeat;
        padding-right: 10px;
    }

    .three-lines {
        display: block;
    }

    .preview-title {
        display: none;
    }

    .start_planning {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        margin: 0;
        padding: 9px 9px; 
        gap: 75px;
    }

    .start_planning p {
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 29px;
        color: #F2785C;
        margin: 0;
    }
    
    .button__planning {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 9px 8px;
        background: #0D606F;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        border-color: #0D606F;
        cursor: pointer;
        transition: .3s;
    
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
    }

    .title {
        margin: auto;
        text-align: center;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.5px;
        color: #F2785C;
    }

    .steps-wrapper {
        display: block;
        max-width: 390px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .steps-container-3_columns {
        display: flex;
        max-width: 360px;
        margin: 20px auto;
        gap: 30px;
    }

    .icon-red_square {
        width: 70px;
        height: 70px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color:#F2785C;
        border-radius: 16px;
    }

    .left-icon,
    .left {
        display: block;
        text-align: left;
    }

    .right-icon,
    .right {
        display: block;
        text-align: right;
    }  

    .icon_tell {
        background-image: url('assets/icons/ico_tell_mobile.svg');
        width: 35px;
        height: 32px;
    }
    
    .icon_share {
        background-image: url('assets/icons/ico_share_mobile.svg');
        width: 35px;
        height: 35px;
    }
    .icon_recommend {
        background-image: url('assets/icons/ico_recom_mobile.svg');
        width: 40px;
        height: 32px;
    }
    
    .center {
        display: block;
        min-width: 111px;
    }
     
    .icons-text {
        font-size: 10px;
        line-height: 12px;
        color: #0D606F;
        margin: 0px;
    }

    .destinations {
        max-width: 390px;
        text-align: center;
    }

    .destinations-wrapper {
        max-width: 368px;
        overflow: hidden;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .destinations_3-pictures,
    .radio-circles,
    .stories-img,
    .footer-wrapper {
        display: none;
    }

    .destinations-mobile {
        display: flex;
        justify-content: center;
        margin: 20px 0 10px 0;
        position: relative;
        flex-wrap: nowrap;
    }

    .destinations-mobile-img {
        width: 360px;
        height: 210px;
    }

    .mobile-img-name {
        position: absolute;
        left: 20px;
        padding-top: 8px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .indicator-1 {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 11px;
    }

    .indicator-2 {
        display: block;
        position: absolute;
        top: 50%;
        justify-content: center;
        transform: translate(0, -50%);
        right: 11px;
    }

    .radio-mobile-circles {
        display: inline-block;
        position: absolute;
        justify-content: center;
        margin: 0;
        /* transform: translate(0, -50%); */
        bottom: 2.5%;
    }

    .small_circle {
        width: 8px;
        height: 8px;
    }
    
    .small_circle.mobile {
        background: #F2785C;
    }
    
    .button-arrow {
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;
    }
    
    .button__destinations {
        padding: 7.5px 10px;
        width: 92px; 
    }
     
    .arrow-icon {
        background-image: url('assets/icons/arrow_mobile.svg');
        width: 10px;
        height: 8px;
    }

    .stories {
        max-width: 390px;
        margin-top: 20px;
    }
        
    .stories_title {
        margin-bottom: 10px;
    }
    
    .two-sectoin-background {
        max-width: 390px;
        min-height: 693px;
        background: url('assets/img/Rectangle\ 28_mobile.png');
    }
 
    .wrapper-opacity {
        max-width: 390px;
        min-height: 628px;
    }

    .stories-wrapper {
        max-width: 360px;
    }
    
    .stories-block {
        padding-top: 15px;
    } 
    
    .stories-block:nth-child(1) {
        padding-top: 10px;
    }

    .stories-mobile-img {
        display: block;
        width: 155px;
        height: 130px;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
     }
    
     .storiesblock-content {
        padding-left: 10px;
     }
    
    .stories-block-name {
        font-size: 11px;
        line-height: 13px;
    }
    
    .stories-block-mobile {
        display: block;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }

    .stories-block-text {
        display: none;
    }

    .button__stories {
        padding: 7px 13px;
        width: 92px; 
        margin-top: 10px;
        margin-bottom: 13px;
    }

    .footer-links {
        justify-content: center;
        margin: 0;
        margin-top: 19px;
    }
    
    .social-item {
        margin: 0 12px;
    }

.burger-menu {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 165px;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
}

.burger-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 99;
    padding:30px 0;
    display: none;
}

.menu-show {
    display: flex;
}

.crossmark {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 14px;
}

.cross-line {
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    width: 15px;
    height: 3px;
    transform: rotate(45deg);
}
.cross-line::after {
    content: '';
    background: rgba(255, 255, 255, 0.7);
    width: 15px;
    height: 3px;
    display: block;
    transition: 0.2s;
    transform: rotate(-90deg);
}

.burger-nav-container {
    display: flex;
    justify-content: right;
    padding-right: 15px;
}

.burger-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 10px; 
}

.burger-navigation li {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.burger-item {
    text-decoration: none;
    color: #FFFFFF;
}
}