* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: auto;
}

header {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    position: relative;
}

.header-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
}

.logo-object {
    width: 216px;
    height: 31x;
}

.header__navigation {
    display: block;
    /* vertical-align: middle; */
    margin-left: -70px;
}

.list-navigation {
    display: flex;
    gap: 42px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0px;
}

.nav-item {
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.header-link {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 35px;
    cursor: pointer;
}

.header-link a:active, a:hover {
    color: brown;
}

.button {
    margin: 0;
    cursor: pointer;
    background-color: #0D606F;
    border-radius: 10px;
    color: #ffffff;
    transition: .3s;
}

.button__header {
    display: flex;
    padding: 10px 30px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;

    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    transition: .3s;
}

.button__header:hover {
  background: #BCD0E5;
  border-color: #BCD0E5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.planning {
    display: block;
    background-size: cover;
    background-position: center;
    background: url('assets/img/garrett-parker-DlkF4-dbCOU-unsplash.png');
    min-height: 765px;
    margin-top: -90px;
}

.preview-wrapper {
    display: flex;
    position: relative;
    top: 122px;
    left: 120px;
    max-width: 892px;
}

.preview-content h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin: 0;
}
 
.preview-text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 33px;
    padding-bottom: 25px;
}

.start_planning {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 892px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    gap: 322px;
    padding: 9px 18px;
}

.start_planning p {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    margin-left: 26px;
}

.button__planning {
    display: inline-block;
    padding: 10px 32px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border-color: #0D606F;
    cursor: pointer;
    transition: .3s;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.button__planning:hover {
    cursor: pointer;
    transition: .3s;
    background: #BCD0E5;
    border-color: #BCD0E5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.steps-wrapper {
    display: block;
    max-width: 1177px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 76px;
}

.steps-container-3_columns {
    display: inline-flex;
}

.title {
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps_title {
    max-width: 1177px;
    margin: auto;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 40px;
}

.steps-container-3_columns {
    display: flex;
    max-width: 1177px;
    justify-content: space-between;
}

.ico {
    cursor: pointer;
    display: inline-block;
}

.icon-red_square {
    width: 100px;
    height: 100px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#F2785C;
    border-radius: 16px;
}

.steps-array::nth-child(2) {
    margin-right: 35px;
}

.icon_tell {
    background-image: url('assets/icons/ico_tell.svg');
    width: 50px;
    height: 45px;
    background-repeat: no-repeat;
}

.icon_share {
    background-image: url('assets/icons/ico_share.svg');
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
}
.icon_recommend {
    background-image: url('assets/icons/ico_recommend.svg');
    width: 65px;
    height: 45px;
    background-repeat: no-repeat;
}

.icons-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: 33px;
}

.destinations {
    max-width: 2520px;
    text-align: center;
}

.destinations-wrapper {
    max-width: 1440px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    margin-bottom: 80px;
}

.destinations_3-pictures {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 60px;
    flex-wrap: nowrap;
}

.destinations-block{
    margin: 0;
    position: relative;
}

.destinations-img {
    width: 800px;
    height: 800px;
}

.destinations-block span {
    position: absolute;
    left: 19px;
    bottom: 44px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.radio-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 35px;
}

.small_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    border: none;
    cursor: pointer;
}

.small_circle.active {
    background: #F2785C;
}

.button-arrow {
    display: inline-block;
    margin: 0;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border-color: #0D606F;
    cursor: pointer;
    transition: .3s;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.button__destinations {
    padding: 10px 32px;
    width: 228px; 
}

.button__destinations:hover, .button__stories:hover {
    cursor: pointer;
    transition: .3s;
    background: #BCD0E5;
    border-color: #BCD0E5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.button-arrow svg {
    vertical-align: middle;
}

.two-sectoin-background {
    max-width: 1445px;
    min-height: 1331px;
    display: block;
    background-position: center;
    background: url('assets/img/Rectangle\ 33.png');
    margin: 0;
}

.stories {
    max-width: 1440px;
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

.wrapper-opacity {
    max-width: 1440px;
    display: block;
    background-size: cover;
    background-position: center;
    background:  rgba(255, 255, 255, 0.7);
    min-height: 1270px;
    /* background-repeat: no-repeat; */
}

.stories_title {
    margin-bottom: 35px;
}

.stories-wrapper {
    max-width: 1201px;
    margin: 0 auto;
}

.stories-block {
    display: flex;
    padding-top: 30px;
}

.stories-block:nth-child(1) {
    padding-top: 40px;
}
 
.stories-block-text span {
    text-decoration: underline;
    font-weight: 600;
}

.stories-img {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
 }

 .storiesblock-content {
    padding-right: 10px;
    padding-left: 40px;
    text-align: left;
 }

.stories-block-name {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories-block-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.button__stories {
    padding: 7px 32px;
    width: 228px; 
    margin-top: 40px;
    margin-bottom: 41px;
}

footer {
    margin-top: -64px;
}

.footer-wrapper {
    display: block;
    text-align: center;
    justify-content: center;
}

.footer-text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 18px;
}

.footer-links {
    display: flex;
    margin-top: -24px;
    position: absolute;
    right: 136px;
}

.social-item {
    width: 60px;
    height: 33px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
    background-repeat: no-repeat;
    margin-left: -6px;
}